<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>🌵 needle — Package Installers</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js" defer></script>
  </head>
  <body>
    <h1>
      WIP – <br/>DO NOT BELIEVE THE VERSION NUMBER – <br/>API CAN AND WILL BREAK
    </h1>
    <h3>
      Install a single package
    </h3>
    <p>
      Depending on how you set the scope, other packages from your registry will be visible and installable through PackMan.
    </p>
    <p>
      <a href="http://package-installer.glitch.me/v1/installer/Needle/com.needle.compilation-visualizer@1.0.0?registry=https://packages.needle.tools&scope=com.needle">
      Download Installer for <b>Needle Compilation Visualizer</b>
      </a>
      <br/>
      <a href="https://packages.needle.tools/com.needle.compilation-visualizer/latest">Link to package on registry</a>
    </p>
    <p>
      <pre>http://package-installer.glitch.me/v1/installer/ <span>api base</span>
  Needle/ <span>registry name</span>
    com.needle.compilation-visualizer/ <span>package name</span>
      1.0.0 <span>version to install</span>
        ?registry=https://packages.needle.tools <span>registry url</span>
          &scope=com.needle <span>scope</span>
      </pre>
    </p>
  
    <h3>
      Install package & dependencies for registries with many scopes (e.g. OpenUPM)
    </h3>
    <p>
      Some registries do not support the way Unity searches for packages (using /search or /all endpoints). For these, you should explicitly declare all dependency package names as scopes.
  </p>
  <p>
    <a href="http://package-installer.glitch.me/v1/installer/OpenUPM/elzach.leveleditor@0.0.7?registry=https://package.openupm.com&scope=elzach.leveleditor&scope=elzach.extensions">
      Download Installer for <b>ElZach LevelEditor Installer</b>
    </a>
    <br/>
    <a href="https://package.openupm.com/elzach.leveleditor/latest">Link to package on registry</a>
  </p>
    <p>
      <pre>http://package-installer.glitch.me/v1/installer/ <span>api base</span>
  OpenUPM/ <span>registry name</span>
    elzach.leveleditor/ <span>package name</span>
      0.0.7 <span>version to install</span>
        ?registry=https://package.openupm.com <span>registry url</span>
          &scope=elzach.leveleditor&scope=elzach.extensions <span>multiple scopes</span>
      </pre>
    </p>

<h3>
  TODO // Unsupported
</h3>
<p>
 <ul>
   <li>Specify package installation mode (currently: always uses latest available, no matter which version was specified)</li>
   <li>Install multiple packages</li>
   <li>Set up multiple registries</li>
   <li>Only set up registry, don't install packages</li>
   <li>Make a nice badge / URL thingy</li>
   <li>Add way more sanity checks</li>
   <li>Check for package existance</li>
   <li>Make package version optional (use latest)</li>
   <li>Add tests</li>
</ul> 
</p>
<h3>
  Tests
</h3>
<ul>
  <li>Should fail: <a href="http://package-installer.glitch.me/v1/installer/Needle/com.needle.compilation-visualizer@12.0.0?registry=https://packages.needle.tools&scope=com.needle">Version does not exist</a></li>
  <li>Should fail: <a href="http://package-installer.glitch.me/v1/installer/Needle/com.needle.compilation-visualizer@1.0.0?registry=https://nopackages.needle.tools&scope=com.needle">Registry does not exist</a></li>
  <li>Should fail: <a href="http://package-installer.glitch.me/v1/installer/Needle/com.needle.does-not-exist@1.0.0?registry=https://packages.needle.tools&scope=com.needle">Package does not exist</a></li>
  <li>Should fail: <a href="http://package-installer.glitch.me/v1/installer/Needle/?registry=https://packages.needle.tools&scope=com.needle">No package specified</a></li>
  <li>Should work: <a href="http://package-installer.glitch.me/v1/installer/Needle/com.needle.compilation-visualizer@1.0.0?registry=https://packages.needle.tools">No scope specified</a></li>
  <li>Should work: <a href="http://package-installer.glitch.me/v1/installer/Needle/com.needle.compilation-visualizer?registry=https://packages.needle.tools">No scope/version specified</a></li>
  <li>Should work: <a href="http://package-installer.glitch.me/v1/installer/OpenUPM/elzach.leveleditor@0.0.7?registry=https://package.openupm.com&scope=elzach.leveleditor&scope=elzach.extensions">Multiple scopes</a></li>
  <li>Should work: <a href="http://package-installer.glitch.me/v1/installer/OpenUPM/elzach.leveleditor?registry=https://package.openupm.com">No scope specified but has dependendant scopes</a></li>
</ul>
  </body>
</html>
