<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>🌵 needle — Package Installers</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js" defer></script>
  </head>
  <body>
    <a href="http://package-installer.glitch.me/v1/installer/Needle/com.needle.compilation-visualizer/1.0.0?registry=https://packages.needle.tools&scope=com.needle">
      Needle Compilation Visualizer
    </a>
    <br/>
    <a href="http://package-installer.glitch.me/v1/installer/OpenUPM/elzach.leveleditor/0.0.7?registry=https://package.openupm.com&scope=elzach.leveleditor&scope=elzach.extensions">
      ElZach LevelEditor Installer
    </a>
    
    <p>
      <pre>http://package-installer.glitch.me/v1/installer/
        Needle/ <span>Registry Name</span>
          com.needle.compilation-visualizer/ <span>Package Name (reverse domain notation)</span>
            1.0.0 <span>Registry Name</span>
              ?registry=https://packages.needle.tools <span>Registry Name</span>
                &scope=com.needle <span>Registry Name</span>
      </pre>
    </p>
  </body>
</html>
